<mat-toolbar style="background-color: rgb(100, 149, 237);">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span routerLink="/" style="cursor: pointer;">{{'form.My-app' | transloco}}</span>
  <span class="example-spacer"></span>
  <button
*ngFor="let language of languagesList; index as i"
(click)="changeLanguage(language.code)"
style="padding: 5px; margin-right: 10px; font-size: 14px;"
>
<img alt="rasm" [src]="language.imgUrl" [alt]="language.name" style="width: 20px;" />
<span> {{ language.shorthand }} </span>
</button>

  <button routerLink="login" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>login</mat-icon>
  </button>
  <button routerLink="register" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>add_circle_outline</mat-icon>
  </button>
  <button (click)="logoutt()" routerLink="login" mat-icon-button class="example-icon">
    <mat-icon>logout</mat-icon>
  </button>



</mat-toolbar>